body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    border: 1px solid black;
    padding: 10px;
    max-width: 900px;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-item {
    padding: 10px;
}

.big-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 10px;
}

.big-numbers span, .previous-calls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.num {
    background-color: #C5E1A5;
    padding: 20px;
}

.room {
    background-color: #FFE0B2;
    padding: 20px;
}

.post {
    background-color: #B3E5FC;
    padding: 20px;
}

.previous-calls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: left;
}

.previous-calls-list {
    font-size: 40px;
    font-weight: bold;
}

.previous-calls-list .active {
    color: black;
}

.previous-calls-list .inactive {
    color: #CCCCCC;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
}

.average-time {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

.red-text {
    color: red;
}

.building-info {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.building-info img {
    vertical-align: middle;
}
